body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    margin-left: 10px;
    margin-top: 20px;
    flex-shrink: 0;
}

.box { 
    box-shadow: inset 0px 0px 0px 1px black;
    background-color: lightgrey;
    box-sizing: border-box;
}

.reset {
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-size: small;
}